<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section menu</title>
    <!-- link taiwind css -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
 
    <section class="bg-black h-full">
        <div>
            <div class="title text-white absolute top-60 left-30">
                <h1 class="text-4xl font-bold">Build Website With Astro js</h1>
            </div>
            <div class="text-white absolute top-80 left-30 text-sm font-light">
                <p class="w-150 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae porro autem suscipit quam dicta, reiciendis omnis nemo illum odio doloremque est aut expedita blanditiis magnam quis dolor eligendi reprehenderit repudiandae.</p>
            </div>
            <div class="text-white text-sm absolute top-100 left-30 font-bold">
                <p>Created By Rado Hidayatulloh</p>
            </div>
            
        </div>
        <div class="image float-right relative top-30 right-30">
            <img class="w-150 h-150" src="https://w0.peakpx.com/wallpaper/284/393/HD-wallpaper-dark-anime.jpg" alt="">
        </div>

        <div class="mediaSocial">
            <div class="icon">
                <i></i>
            </div>
        </div>

    </section>
    
</body>
</html>